:root {
	--color-accent: oklch(65% 50% 0);
}

body {
	/* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
	font: 100%/1.5 system-ui;
	max-width: 100ch;
	margin-inline: auto;
	padding: 0.5em;

	accent-color: var(--color-accent);
}


form {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1em;
}

label {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
}

button {
	grid-column: 1 / -1;
}

img {
	max-width: 100%;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	gap: 1em;
}

.reading {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	gap: 1em;
}

h1 {
	font-size: 400%;
}

h2 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	text-wrap: balance;
}

section {
	display: block;
}

.cv-section-label {
	border-bottom-style: solid;
	border-bottom-width: 0.3em;
	border-bottom-color: var(--color-accent);
	padding-bottom: 0.2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.cv-entry {
	text-decoration: underline;
	text-decoration-color: oklch(80% 3% 200);
	text-decoration-thickness: 0.2em;
	text-underline-offset: 0.3em;
}